@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="title">História</h2>
        <p class="lead">
            Sediado em Guarulhos-SP, o Grupo ALEFF iniciou suas atividades em fevereiro de 1999 prestando consultoria para elaboração e execução de planejamento de sistema de informação e também para projetos de implantação de estratégia de gestão empresarial voltados ao Sistema de Transporte de cargas em geral.

            A migração definitiva do Grupo ALEFF para a área de transporte e logística, deu-se por meio de parcerias com algumas transportadoras que necessitavam de um software que proporcionasse a real visão e gestão de operação para a elaboração de um planejamento estratégico.

            Assim, desenvolveu e comercializa o SitraWeb Revolution: um software de gerenciamento de transportadoras que é aperfeiçoado constantemente.
        </p>
        <p><a href="https://www.aleff.com.br/" class="btn btn-primary btn-md">Saiba mais &raquo;</a></p>        
    </section>    
</main>